@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Inter:wght@400;500;600&family=Karla:wght@400;700&family=Manrope:wght@800&family=Montserrat:wght@400;500;600;700;800;900&family=Overpass:wght@400;700&family=Playfair+Display:wght@400;500;700&family=Roboto:wght@400;500&family=Work+Sans:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


body{
    background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card{
    border-radius: 15px;
    background-color: #fff;
    margin-top: 150px;
    text-align: center;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.month{
    background-color: red;
    font-size: 55px;
    padding: 25px;
    color: #FFF;
    margin-bottom: 15px;
}

#day{
    font-size: 25px;
    margin-bottom: 20px;
    color: grey;
}

#date{
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 20px;
}

#year{
    font-size: 25px;
    color: grey;
}

.back{
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    box-shadow: inset 0 0 0 0 #54b3d6;
    padding: 0 25px;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.back:hover{
    box-shadow: inset 100px 0 0 0 #fff;
    color: #54b3d6;

}
